# vim:ft=gitconfig:noet:sw=8
[alias]
	co = checkout
	ci = ci-status -v
	ls = log --pretty=format:'%C(yellow)%h %Creset%s %Cgreen(%ar) %C(blue bold)<%cN>%Creset'
	bb = branch -r --list 'bueh*'
	p = pull-request -o
[color]
	ui = true
[log]
	decorate = short
[pull]
	ff = only
[merge]
	tool = vimdiff
[rerere]
	enabled = true
[rebase]
	autoSquash = true
[grep]
	patternType = perl
[push]
	default = current
[hub]
	host = github.fidor.de
	protocol = ssh
	host = github.com
[include]
	path = ~/.gitconfig.local
