# vim:ft=gitconfig:noet:sw=8
[alias]
	co = checkout
	ci = ci-status -v
	cb = check-branches
	ls = log --pretty=format:'%C(yellow)%h  %C(blue bold)%<(20,trunc)%cN  %Cgreen%<(13,trunc)%ar  %Creset%s'
	bb = branch -r --list 'bueh*'
	p = pull-request -o
[color]
	ui = true
[log]
	decorate = short
[pull]
	ff = only
[merge]
	tool = vimdiff
[mergetool]
	prompt = true
[mergetool "vimdiff"]
	cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[rerere]
	enabled = true
[rebase]
	autoSquash = true
[grep]
	patternType = perl
[push]
	default = current
[hub]
	host = github.com
	host = github.fidor.de
	protocol = ssh
[include]
	path = ~/.gitconfig.local
[interactive]
	singleKey = true
